﻿@using Talpa_BLL.Models;
@model ActivityViewModel

@{
    ViewData["Title"] = "Activity Details";
}

<div>
    <div class="px-2">
        <nav class="border border-gray-300 rounded inline-flex overflow-hidden w-full">
            <a asp-controller="Activity" asp-action="Index" class="breadcrumbs__item w-full is-done">Kies periode</a>
            <a asp-controller="Activity" asp-action="Details" asp-route-activityStartTime="@Model.startTime.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)" class="breadcrumbs__item w-full is-active">Kies activiteit</a>
            <a class="breadcrumbs__item w-full">Kies datum</a>
        </nav>
    </div>

    <style>
        .breadcrumbs {
            border: 1px solid #cbd2d9;
            border-radius: 0.3rem;
            display: inline-flex;
            overflow: hidden;
        }

        .breadcrumbs__item {
            background: #fff;
            color: #333;
            outline: none;
            padding: 0.75em 0.75em 0.75em 1.25em;
            position: relative;
            text-decoration: none;
            transition: background 0.2s linear;
        }

        .breadcrumbs__item:hover:after,
        .breadcrumbs__item:hover {
            background: #edf1f5;
        }

        .breadcrumbs__item:focus:after,
        .breadcrumbs__item:focus,
        .breadcrumbs__item.is-active:focus {
            background: #323f4a;
            color: #fff;
        }

        .breadcrumbs__item:after,
        .breadcrumbs__item:before {
            background: white;
            bottom: 0;
            clip-path: polygon(50% 50%, -50% -50%, 0 100%);
            content: "";
            left: 100%;
            position: absolute;
            top: 0;
            transition: background 0.2s linear;
            width: 1em;
            z-index: 1;
        }

        .breadcrumbs__item:before {
            background: #cbd2d9;
            margin-left: 1px;
        }

        .breadcrumbs__item:last-child {
            border-right: none;
        }

        .breadcrumbs__item.is-active:after,
        .breadcrumbs__item.is-active {
            background: #edf1f5;
        }

        .breadcrumbs__item.is-done:after,
        .breadcrumbs__item.is-done {
            background: #808284;
            color: white;
        }
    </style>

    <div class="md:px-20">
        @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
                @TempData["StatusMessage"]
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="px-2 md:px-20 pt-4">
        <h1 class="text-4xl text-center font-bold pl-2 pt-10">Kies een van de activiteiten waarop u wilt stemmen</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full pt-10">
            @foreach (SuggestionViewModel suggestion in Model.Suggestions)
            {
                <a asp-controller="Vote" asp-action="Index" asp-route-activityId="@suggestion.Id" class="px-2 mb-4 relative flex flex-col items-center justify-center">
                    <img src="@Url.Content("~/img/suggestion/" + suggestion.ImageUrl)" class="w-full object-cover h-full rounded-lg brightness-50" />
                    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        <h1 class="text-white w-full text-center text-4xl font-medium">@Html.DisplayFor(modelItem => suggestion.Name)</h1>
                        <p class="text-white w-full text-center text-2xl pt-10">Votes: @suggestion.VoteCount</p>
                    </div>
                </a>
            }
        </div>

        <style>
            .scroll::-webkit-scrollbar {
                display: none;
            }

            .scroll {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>
    </div>
</div>

<style>
    .custom-input:focus,
    .custom-input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
    }

        .custom-input:focus ~ .custom-label,
        .custom-input:valid ~ .custom-label {
            transform: translateY(-50%) scale(0.8);
            background-color: white;
            padding: 0 .2em;
            color: #2196f3;
        }
</style>
