@using Talpa_BLL.Models;
@model IEnumerable<ActivityViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="md:px-20">
        @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
                @TempData["StatusMessage"]
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="px-2 md:px-20 pt-10">
        <h1 class="text-4xl text-center font-bold pl-2 pt-10">@Localizer["Activities"]</h1>

        @if (Model.Count() != 0)
        {
            @foreach (ActivityViewModel activity in Model)
            {
                <h1 class="text-2xl font-extrabold">Periode: @activity.startTime.ToShortDateString() - @activity.endTime.ToShortDateString()</h1>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full pt-10 flex justify-center">
                    @foreach (SuggestionViewModel suggestion in activity.Suggestions)
                    {
                        <a asp-controller="Suggestion" asp-action="Details" asp-route-suggestionId="@suggestion.Id" class="px-2 mb-4">
                            <div class="flex flex-col w-full h-full rounded-lg bg-[#E8E5F2] hover:bg-[#D4CEEA] p-3">
                                <h1 class="text-[#5236AB] w-full text-center text-4xl font-medium">@Html.DisplayFor(modelItem => suggestion.Name)</h1>
                                <img src="@Url.Content("~/img/suggestion/" + suggestion.ImageUrl)" class="w-full object-cover h-60 pt-6" />
                                <form asp-controller="Vote" asp-action="Index" asp-route-activityId="@suggestion.Id" method="post" class="inline-block">
                                    <button type="submit" class="bg-green-500 transition hover:scale-105 text-white font-bold py-2 px-4 rounded">Vote!</button>
                                </form>
                                <p class="text-[#5236AB] w-full text-center text-2xl pt-10">Votes: @suggestion.VoteCount</p>
                            </div>
                        </a>
                    }
                </div>
            }
        } else
        {
            <p class="text-2xl text-center mt-8">@Localizer["NoActivities"]</p>
            <p class="text-2xl text-center mt-4">@Localizer["ReturnSoon"]</p>
        }

        <style>
            .scroll::-webkit-scrollbar {
                display: none;
            }

            .scroll {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>
    </div>
</div>