@model IEnumerable<ActivityViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="md:px-20">
        @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
                @TempData["StatusMessage"]
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="px-2 md:px-20 pt-10">
        <h1 class="text-4xl text-center font-bold pl-2 pt-10">Activiteiten</h1>

        @if (Model.Count() != 0)
        {
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 w-full pt-10 flex justify-center">
                @foreach (ActivityViewModel activity in Model)
                {
                    <a asp-controller="Activity" asp-action="Details" asp-route-activityId="@activity.Id" class="px-2">
                        <div class="flex flex-col w-full rounded-lg bg-[#E8E5F2] hover:bg-[#D4CEEA] p-3">
                            <h1 class="text-[#5236AB] w-full text-center text-4xl font-medium">@Html.DisplayFor(modelItem => activity.Name)</h1>
                            <img src="@Url.Content("~/img/suggestion/" + activity.ImageUrl)" class="w-full object-cover h-60 pt-6" />
                            <p class="text-[#5236AB] w-full text-center text-2xl pt-10">Votes: 9</p>
                        </div>
                    </a>
                }
            </div>
        } else
        {
            <p class="text-2xl text-center mt-8">@Localizer["NoActivities"]</p>
            <p class="text-2xl text-center mt-4">@Localizer["ReturnSoon"]</p>
        }

        <style>
            .scroll::-webkit-scrollbar {
                display: none;
            }

            .scroll {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>
    </div>
</div>