@model List<Talpa.Models.AdminModels.AdminActivityViewModel>

@{
    ViewData["Title"] = "ActivityDateViewModel";
}

<h1>ActivityDateViewModel</h1>

<form asp-action="SaveChosenActivity">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].startTime)
                </th>
                <th>
                    Duplicate Count
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var groupedStartTimes = Model.GroupBy(x => x.startTime);
            }
            @foreach (var group in groupedStartTimes)
            {
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="selectedStartTime" value="@group.Key" onclick="updateDate('@group.Key')" />
                            @Html.DisplayFor(modelItem => group.Key)
                        </label>
                    </td>
                    <td>
                        @group.Count()
                    </td>
                    <!-- Other columns can be added here if needed -->
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" name="SuggestionId" value="@Model[0].SuggestionId" />

    <input type="hidden" name="Date" id="Date" value="" />
    <input type="hidden" name="otherSuggestionId1" value="@Model[0].OtherSuggestionId1" />
    <input type="hidden" name="otherSuggestionId2" value="@Model[0].OtherSuggestionId2" />
    <div>
        <button type="submit" class="rounded-md text-white bg-purple-500 w-60 py-2.5 px-4 hover:bg-purple-700">Submit</button>
    </div>
</form>

<script>
    function updateDate(startTime) {
        document.getElementById('Date').value = startTime;
    }
</script>
