@using Talpa.Models.AdminModels;
@using Talpa_BLL.Models;
@model AdminActivityViewModel

@{
    ViewData["Title"] = "Activity Details";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="md:px-20">
    @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
    {
        <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
            @TempData["StatusMessage"]
        </div>
    }

    @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
    {
        <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
            @TempData["ErrorMessage"]
        </div>
    }
</div>  

<div class="px-2 md:px-20 pt-4">
    <h1 class="text-4xl text-center font-bold pl-2 pt-10">@Localizer["PickActivity"]</h1>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.image-button');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    // Hide the overlay for all buttons
                    buttons.forEach(function (otherButton) {
                        if (otherButton !== button) {
                            var otherPickedActivity = otherButton.querySelector('.picked-activity');
                            otherPickedActivity.classList.add('custom-hidden');
                        }
                    });

                    // Toggle the overlay for the clicked button
                    var pickedActivity = button.querySelector('.picked-activity');
                    pickedActivity.classList.toggle('custom-hidden');

                    // Capture the selected suggestion ID
                    var selectedSuggestionId = button.querySelector('img').getAttribute('data-id');

                    // Update the hidden input value
                    document.getElementById('selectedSuggestionId').value = selectedSuggestionId;

                    // Update the hidden inputs for the other two suggestions
                    var otherSuggestionIds = [];
                    buttons.forEach(function (otherButton) {
                        if (otherButton !== button) {
                            var otherSuggestionId = otherButton.querySelector('img').getAttribute('data-id');
                            otherSuggestionIds.push(otherSuggestionId);
                        }
                    });

                    document.getElementById('otherSuggestionId1').value = otherSuggestionIds[0] || '';
                    document.getElementById('otherSuggestionId2').value = otherSuggestionIds[1] || '';
                });
            });
        });
    </script>


    <form method="post" asp-area="admin" asp-controller="Activity" asp-action="GetActivityDateWithId" id="suggestionForm">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 w-full pt-10">

            @foreach (SuggestionViewModel suggestion in Model.Suggestions)
            {
                <button type="button" class="image-button px-2 mb-4 relative flex flex-col items-center justify-center" style="border: none; background: none;">
                    <div class="relative h-full w-full">
                        <img src="@Url.Content("~/img/suggestion/" + suggestion.ImageUrl)" data-id="@suggestion.Id" class="w-full object-cover h-full max-h-[400px] rounded-lg brightness-100" />

                        <div class="picked-activity custom-hidden absolute top-0 left-0 bg-purple-800 w-full h-full opacity-50 rounded-lg"></div>

                        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <h1 class="text-white w-full text-center text-4xl font-medium">@Html.DisplayFor(modelItem => suggestion.Name)</h1>
                            <p class="text-white w-full text-center text-2xl pt-10">@Localizer["Votes"]: @suggestion.VoteCount</p>
                        </div>
                    </div>
                </button>
            }
        </div>

        <!-- Hidden input for selected suggestion ID -->
        <input type="hidden" id="selectedSuggestionId" name="selectedSuggestionId" />

        <!-- Hidden inputs for the other two suggestion IDs -->
        <input type="hidden" id="otherSuggestionId1" name="otherSuggestionId1" />
        <input type="hidden" id="otherSuggestionId2" name="otherSuggestionId2" />

        <div class="px-2 w-full flex justify-end">
            <!-- Submit button -->
            <button type="submit" class="rounded-md text-white bg-purple-500 w-60 py-2.5 px-4 hover:bg-purple-700">@Localizer["Continue"]</button>
        </div>
    </form>


</div>

<style>
    .custom-input:focus,
    .custom-input:valid {
        outline: none;
        border: 1.5px solid #1a73e8;
    }

        .custom-input:focus ~ .custom-label,
        .custom-input:valid ~ .custom-label {
            transform: translateY(-50%) scale(0.8);
            background-color: white;
            padding: 0 .2em;
            color: #2196f3;
        }

    .custom-hidden {
        display: none;
    }

</style>



