@using Talpa.Models.AdminModels;
@model AdminActivityViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

@* <div class="px-2 md:px-20 lg:px-32">
    <div class="bg-white p-4 mt-10">
        <p class="text-3xl font-semibold pt-10">Activiteit keuze:</p>

        <div class="bg-[#E8E5F2] p-4 rounded-md mt-4 mb-10">
            <p class="text-4xl font-bold text-[#200A58] pt-4">@Model.Name</p>

            <div class="pt-10">
                <p class="text-xl text-[#200A58]">Beschrijving:</p>
                <p class="pt-2 text-[#200A58]">@Model.Description</p>
            </div>

            <img src="@Url.Content("~/img/suggestion/" + @Model.ImageUrl)" class="h-40 mt-4" />
        </div>

        <div class="md:px-10 flex flex-col h-full justify-end">
            <div class="flex flex-col flex-col-reverse sm:flex-row gap-2 md:gap-4">
                <div class="w-full flex justify-end">
                    <a asp-action="Index"
                            class="bg-white text-center border border-blue-500 w-full hover:bg-gray-100 font-bold rounded py-2 text-blue-500">
                        Terug
                    </a>
                </div>

                <form asp-action="Remove" asp-route-activityId="@Model.Id" class="w-full">
                    <input type="hidden" asp-for="@Model.Id" />
                    <div class="">
                        <input type="submit" value="Verwijderen" class="cursor-pointer bg-red-600 text-center border w-full hover:bg-red-700 font-bold rounded py-2 text-white" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div> *@
