@using Talpa.Models.AdminModels;
@using Talpa_BLL.Models;
@model IEnumerable<AdminActivityViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";

    var primaryColor = Context.Request.Cookies["PrimaryColor"] ?? "000000";
    var secondaryColor = Context.Request.Cookies["SecondaryColor"] ?? "5236AB";
    var backgroundColor = Context.Request.Cookies["BackgroundColor"] ?? "000000";
}

<div class="h-screen overflow-y-auto pb-20">
    <div class="md:px-20">
        @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
                @TempData["StatusMessage"]
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="px-2 md:px-20 pt-10">
        <div class="pb-2 w-full flex justify-end">
            <a asp-area="Admin" asp-controller="Activity" asp-action="Create" class="inline-block bg-[@secondaryColor] hover:bg-[@backgroundColor] text-white font-bold py-2 px-4 rounded">@Localizer["CreateActivity"]</a>
        </div>

        <div>
            @using (Html.BeginForm("Index", "Activity", FormMethod.Get))
            {
                <p>
                    <div class="relative hidden xl:block">
                        <input type="text" id="searchString" name="searchString" placeholder="@Localizer["Search"]" class="w-full pl-2 py-3 bg-gray-50 border border-gray-500 rounded-md focus:border-blue-500 focus:ring-blue-500">
                        <button type="submit" value="Search" class="absolute right-0 top-0 mt-3 mr-16">
                            <svg class="h-6 w-6 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                        </button>
                    </div>
                </p>
            }
        </div>

        @if (Model.Count() > 0)
        {
            @foreach (AdminActivityViewModel activity in Model)
            {
                <a asp-controller="Activity" asp-action="Details" asp-route-activityStartTime="@activity.startTime.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)" class="mb-10">
                    <div class="flex w-full relative mt-10 hover:brightness-125">
                        <h1 class="text-2xl text-white top-6 left-10 z-40 absolute font-bold mb-10">@Localizer["Period"]: @activity.startTime.ToString("dd/M/yyyy") - @activity.endTime.ToString("dd/M/yyyy")</h1>
                        <div class="flex-1">
                            <img src="@Url.Content("~/img/suggestion/" + activity.Suggestions[0].ImageUrl)" class="w-full h-60 object-cover rounded-l-lg brightness-50" />
                        </div>
                        <img src="@Url.Content("~/img/suggestion/" + activity.Suggestions[1].ImageUrl)" class="w-60 sm:w-[300px] lg:w-[500px] xl:w-[700px] h-60 object-cover absolute flex justify-center clip-parallelogram-m brightness-50 z-30" style="left: 50%; transform: translateX(-50%);" />
                        <div class="flex-1">
                            <img src="@Url.Content("~/img/suggestion/" + activity.Suggestions[2].ImageUrl)" class="w-full h-60 object-cover rounded-r-lg brightness-50" />
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <p class="text-2xl text-center mt-8">@Localizer["NoActivities"]</p>
            <p class="text-2xl text-center mt-4">@Localizer["ReturnSoon"]</p>
        }

        <style>
            .clip-parallelogram-l {
                clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
            }

            .clip-parallelogram-m {
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            }

            .clip-parallelogram-r {
                clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        </style>

        <style>
            .scroll::-webkit-scrollbar {
                display: none;
            }

            .scroll {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>
    </div>
</div>
