@model SampleMvcApp.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Profile";

    var primaryColor = Context.Request.Cookies["PrimaryColor"] ?? "000000";
    var secondaryColor = Context.Request.Cookies["SecondaryColor"] ?? "5236AB";
    var backgroundColor = Context.Request.Cookies["BackgroundColor"] ?? "000000";
}

<div class="md:px-20">
    @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
    {
        <div class="mt-10 text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full">
            @TempData["StatusMessage"]
        </div>
    }

    @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
    {
        <div class="mt-10 text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
<div class="pt-10 px-2 md:px-20 lg:px-40">
    <h1 class="text-4xl font-medium pt-2 pb-10">@Localizer["Profile"]</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 w-full">
        <div class="col">
            <div class="w-full mb-20">
                <div class="w-full">
                    <img class="w-40 h-40 md:w-full md:h-72 shadow-lg" src="@Url.Content("~/img/profile/" + Model.ProfileImage)" alt="user photo">
                </div>
                <div class="w-full">
                    <h2 class="text-2xl font-medium pt-6">@Model.Name</h2>
                    <h2 class="text-xl pt-2">@Model.EmailAddress</h2>
                </div>
            </div>
        </div>
        <div class="col-start-1 md:col-start-2 md:col-span-3 px-0 md:px-10 w-full">
            <div class="rounded-lg md:px-8 mb-8">
                <div>
                    <h1 class="text-2xl font-medium">@Localizer["EditProfile"]</h1>


                    <form asp-action="Update" enctype="multipart/form-data" class="pt-6">
                        <div asp-validation-summary="ModelOnly" class="text-red-700"></div>

                        <input type="hidden" asp-for="ProfileImage" />
                        <div class="mb-8 w-full">
                            <p class="text-xl mb-2 font-medium">@Localizer["Name"]</p>
                            <div class="input-group relative w-full">
                                <input required="" type="text" placeholder="@Model.Name" value="@Model.Name" name="Name" id="Name" autocomplete="off" class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block mt-1 w-full">
                            </div>
                            <span asp-validation-for="Name" class="text-red-700"></span>
                        </div>

                        <p class="text-xl mb-2 font-medium">@Localizer["ProfilePicture"]</p>
                        <div class="flex items-center justify-center w-full mb-4">
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input type="file" value="@Model.ProfileImage" name="Image" id="imageUpload" onchange="previewImage(event)" />
                            </label>
                        </div>
@*
                        <div class="mb-4">
                            <fieldset>
                                <legend>Upload Image</legend>
                                <label for="Image">Image</label>
                                <input type="file" value="@Model.ProfileImage" name="Image" id="imageUpload" onchange="previewImage(event)" />
                                <br />
                                <img id="imagePreview" src="@Url.Content("~/img/profile/" + Model.ProfileImage)" alt="Image Preview" style="max-width: 200px; max-height: 200px; display: none;" />
                                <br />
                            </fieldset>
                        </div>
*@
                        <div class="w-full flex justify-end">
                            <button type="submit" class="cursor-pointer bg-[@secondaryColor] w-28 hover:bg-[@backgroundColor] text-white font-bold py-2 rounded">@Localizer["Save"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>       
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}