@{
    ViewData["Title"] = "Home Page";

    var primaryColor = Context.Request.Cookies["PrimaryColor"] ?? "000000";
    var secondaryColor = Context.Request.Cookies["SecondaryColor"] ?? "5236AB";
    var backgroundColor = Context.Request.Cookies["BackgroundColor"] ?? "000000";
}

<div>
    <div class="relative text-center flex justify-center">
        <img class="w-full h-[700px] object-cover brightness-50" src="@Url.Content("~/img/main/banner.png")">

        <div class="text-white absolute top-10 md:top-40 px-2 md:px-20">
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-medium">@Localizer["PlanOuting"]</h1>

            <div class="text-xl sm:text-2xl pt-5">
                <h2 class="pt-2">@Localizer["BrilliantIdea"]</h2>
                <p>@Localizer["ShareCreate"]</p>
            </div>

            <div class="w-full flex justify-center mt-10">
                <a asp-controller="Suggestion" asp-action="Create" class="text-center cursor-pointer bg-[@secondaryColor] w-3/6 hover:bg-[@backgroundColor] text-white font-bold py-2 rounded">@Localizer["Plan"]</a>
            </div>
        </div>
    </div>

    <div class="pt-10 flex justify-center px-2 md:px-20">
        <div>
            <h2 class="text-2xl font-bold text-center">@Localizer["WithTalpa"]</h2>

            <div class="lg:flex lg:justify-between w-full pt-12">
                <div class="pt-4 lg:pt-16 xl:pt-28 2xl:pt-32 w-full text-center">
                    <h3 class="text-2xl font-medium">@Localizer["Suggestion"]</h3>
                    <p class="text-xl">@Localizer["EasySteps"]</p>
                </div>

                <div class="w-full pt-6 lg:pt-0">
                    <img class="object-cover brightness-75" src="@Url.Content("~/img/main/CreateSuggestion.PNG")">
                </div>

            </div>
        </div>
    </div>
    
</div>
