@model IEnumerable<SuggestionViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="h-screen">
    <div class="md:px-20">
        @if (TempData.ContainsKey("StatusMessage") && TempData["StatusMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-green-500 w-full mb-10">
                @TempData["StatusMessage"]
            </div>
        }

        @if (TempData.ContainsKey("ErrorMessage") && TempData["ErrorMessage"] != null)
        {
            <div class="text-white text-xl text-center py-4 rounded-lg shadow-md bg-red-500 w-full mb-10">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="px-2 md:px-20 pt-10">

        <div class="pb-2 px-10 w-full flex justify-end">
            <a asp-action="Create" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Create New</a>
        </div>

        <div>
            @using (Html.BeginForm("Index", "Suggestion", FormMethod.Get))
            {
                <p>
                    <div class="relative hidden xl:block px-10">
                        <input type="text" id="searchString" name="searchString" placeholder="Zoeken" class="w-full pl-2 py-3 bg-gray-50 border border-gray-500 rounded-md focus:border-blue-500 focus:ring-blue-500">
                        <button type="submit" value="Search" class="absolute right-0 top-0 mt-3 mr-16">
                            <svg class="h-6 w-6 fill-current text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                            </svg>
                        </button>
                    </div>
                </p>
            }
        </div>

        <div class="w-full pt-10 flex flex-col h-[88vh] overflow-y-auto transform scroll">
            @foreach (SuggestionViewModel suggestion in Model)
            {
                <a asp-controller="Category" asp-action="Details" asp-route-categoryId="@suggestion.Id">
                    <div class="px-10 pb-6">
                        <div class="w-full h-40 transition ease-in-out hover:scale-105 transform shadow hover:shadow-xl rounded-lg rounded-tr-xl">
                            <div class="flex w-full bg-gray-200 rounded-lg rounded-tr-xl">
                                <div class="flex flex-1 h-40 flex-col justify-center">
                                    <h1 class="text-blue-700 text-4xl pl-20">@Html.DisplayFor(modelItem => suggestion.Name)</h1>
                                </div>
                                <div class="flex gap-20">
                                    <div class="flex flex-col justify-center pr-20">
                                        <span class="material-symbols-outlined text-blue-700" style="font-size: 60px;">
                                            @((int)suggestion.ActivityState == (int)ActivityState.Rejected ? "dangerous" :
                                                (int)suggestion.ActivityState == (int)ActivityState.Pending ? "pending_actions" :
                                                (int)suggestion.ActivityState == (int)ActivityState.Accepted ? "check_circle" :
                                                "")
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>

        <style>
            .scroll::-webkit-scrollbar {
                display: none;
            }

            .scroll {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }
        </style>
    </div>
</div>